<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrators Portal </title>

    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">G1T6 Learning Management System</span>
        </div>
    </nav>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin-trainers.html">Trainers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin-learners.html">Learners</a>
      </li>

    </ul>

    <section class="wow fadeInUp mt-2"> <!-- Availability search bar and tables START-->
      <div style="float:left" class="container"> <!-- container START-->
        <div v-show="!edit"> <!-- v-show: !edit START-->
          <!-- Search -->
          <div class="input-group">
            <input v-model="searchStr" type="text" class="form-control"
              placeholder="Search for courses e.g 1001 or All About Maintenance"
              aria-label="courses"
              aria-describedby="basic-addon2" style="margin-right:5px;">
            <div class="input-group-append">
              <button @click="filterCourses()" class="btn btn-info" type="button">Search</button>
              <button @click="pageRefresh()" class="btn btn-outline-info" type="button">Clear All</button>
            </div>
          </div> <!-- End Search-->

          <span class="text-danger" v-if="searchError!=''">
            {{ searchError}}
          
          </span>
          <br>
          <br>
        </div>
      </div>
        
      <a href="createCourse.html" style="float:right; margin-right: 10px;" class="btn btn-primary" href="createCourse.html">Create Course</button></a>
      <div v-for="courses in courses" class="card" style="margin:15px; width: 15rem;background-color: lavender;">
        <img src="{{ courseImg }}" class="card-img-center">
        <div class="card-body">
          <h3 class="card-text" href="{{ courseLink }}"> {{ courseName }} </h3>
          <p class="card-text"> Course ID: {{ courseId }} </p>
        </div>
      </div>
    </section>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>
</html>