<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainers Portal </title>

    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Vue JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

</head>

<body>
  <div id = "app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-lg-5">
            <a class="navbar-brand" href="admin.html">G1T6 Learning Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
    <!-- <script type="module">
      import { BForm } from 'bootstrap'
      Vue.component('b-form', BForm) -->
    <!-- </script> -->
    <!-- <template> -->
      <div>
        <h1>Quiz {{ quizid }}</h1> 
        <div id="app">{{ time }}</div>
        <form v-for="question in quizquestions" id="question.questionid">
            <div id="question.questionid">
              <h3>{{ question.questiontext }}</h3>
              <div v-for="option in (question.questionoptions.split(','))" >
                <input type="radio" value="option" name="question.questiontext" id="option" onchange="checkAnswers()"> {{option}} 
              </div>
              <!-- <button class="btn btn-outline-primary" @click="checkAnswers()">Check Answer</button> -->
            </div>
        </form> 
        <br>
        <button class="btn btn-outline-primary" @click="updateCompleteChapter()">Exit Quiz</button>
         
      </div>
    <!-- </template> -->
  </div>

  <script type="text/javascript" src="../js/learner.js">
  // <script type="module" src="../js/learner.js">
  //   import { BForm } from 'bootstrap-vue'
  //   Vue.component('b-form', BForm)  
  // </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://momentjs.com/downloads/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
  
</body>
</html>