<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learners Portal </title>

    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Vue JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

</head>

<body>

    <div id="app">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="admin.html">G1T6 Learning Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            </div>
        </nav>
        <!-- End Navigation -->

        <br>

        <!-- Show Unlocked Chapters -->
        <div class="container" style="display:center">
            <div class="row">
                <template v-for="mat_chap in material_chapters">
                    <h1  v-if = "mat_chap <= chapter_completed + 1">
                        Lesson {{ mat_chap }}
                    </h1>

                    <!-- Materials -->
                    <table class="table"  v-if = "mat_chap <= chapter_completed + 1">
                        <thead>
                            <tr>
                                <th scope="col">Material Title</th>
                                <th scope="col">Material Type</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="material in materials" v-if ="material.material_chapter == mat_chap">
                                <td>{{ material.material_name }}</td>
                                <td>{{ material.material_type }}</td>
                                <td> 
                                    <a class="btn btn-outline-primary" :href="material.material_link" role="button">{{ material.material_type }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Progress Quiz -->
                    <table class="table"  v-if = "mat_chap <= chapter_completed + 1">
                        <thead>
                            <tr>
                                <th scope="col">Quiz Number</th>
                                <th scope="col">Duration (min)</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="quiz in quizzes" v-if ="quiz.chapter == mat_chap">
                                <td>Quiz {{ quiz.chapter }}</td>
                                <td>{{ quiz.time }}</td>
                                <td> 
                                    <a class="btn btn-outline-primary" href="learner-quiz.html" role="button" @click="storeQuizForm(quiz.quizid, quiz.chapter, quiz.graded)">Link</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </template>

                <!-- Final Quiz -->
                <template v-if ="chapter_completed >= material_chapters[material_chapters.length-1]">

                    <h1>Final Quiz</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Quiz</th>
                                <th scope="col">Duration (min)</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Final Quiz</td>
                                <td>{{ quizzes[quizzes.length-1].time }}</td>
                                <td>Graded</td>
                                <td> 
                                    <a class="btn btn-outline-primary" href="learner-quiz.html" role="button" @click="storeQuizForm(quizzes[quizzes.length-1].quizid, quizzes[quizzes.length-1].chapter, quizzes[quizzes.length-1].graded)">Link</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </template>

            </div>
        </div>
        <!-- End of Showing Unlocked Chapters -->

    </div>

    <script type="text/javascript" src="../js/learner.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>
</html>